@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background: rgba(19, 177, 138, 1);
}
/* From uiverse.io by @Ali-Tahmazi99 */

/* 
button {
  display: inline-block;
  width: 150px;
  height: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

button::before,
button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

button::before {
  left: -10px;
  background: rgb(18, 160, 129);
}

button::after {
  right: -10px;
  background: rgb(18, 160, 129);
}

button:hover::before,
button:hover::after {
  width: 58%;
}

button:hover span {
  color: #e0aaff;
  transition: 0.3s;
}

button span {
  color: #ffffff;
  font-size: 18px;
  transition: all 0.3s ease-in;
} */

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;

  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(18, 160, 129);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
  scale: 1;
}
